<!DOCTYPE html>
<html>
  <head>
    <title>{{name}} Bracket</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h1 align='center'> Welcome to {{name}} Bracket</h1>
    <!-- <h1 align='center'> There are {{num_teams}} teams</h1> -->
    {% include 'addteams_directions.html'%}

    <hr>
    <form id="confirmationForm" method="get">
      <table>
  
        {% for team in range(1, num_teams + 1) %}
          <tr>
            <td align="right">Team {{team}}:</td>
            {% if team_names is defined %}
              <td><input type="text" value="{{team_names[team-1]}}" name={{"team%s" % (team)}} /></td>
            {% else %}
              <td><input type="text" name={{"team%s" % (team)}} /></td>
            {% endif %}
              <td align="right">Netid {{team}}:</td>
              <td><input type="text" name={{"player%s" % (team)}} placeholder="guest"/></td>
          </tr>
        {% endfor %}
        {% if error_message != 'None' %}
        <table>
          
          <tr>
            <td align="left" style="color: red;">{{ error_message }}</td>
          </tr>
        </table>
    
        {% endif %}
        <tr>
          <td></td>
          <td><input type="submit" value="Create with random order" , onclick="setFormAction('/createbracket/random_confirmation/?')" /></td>
          <td><input type="submit" value="Create with seeding", onclick="setFormAction('/createbracket/seeding_confirmation/?')"/></td>
        </tr>
      </table>
    </form>
    {% if error_message != 'None' %}
      <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <script>
      function setFormAction(action) {
        document.getElementById("confirmationForm").action = action;
        document.getElementById("confirmationForm").submit();
      }
    </script>

    <br>
    {% include 'footer.html' %}
    </body>
</html>
