<!DOCTYPE html>
<html>
  <head>
    <title>Bracket</title>
    <style>
      td {
          padding: 0 20px; /* Adds 20px padding on the left and right of each cell */
      }
  </style>
  </head>
  <body>
    {% include 'header.html' %}
    <h1 align='center'> Welcome to {{ bracket_name }} Bracket</h1>
    {% include 'bracketconfirmation_directions.html' %}
    <!-- Here, we can allow users to create their own code, or let them use one we generate -->
    <!-- I only included this here because i want the code to end up in the url. I hope there's a better way to do this -->
    <form action="/storebracket/"  method="post">
        <!-- Players having same name is intentional, flask sees as a list -->
        {% for player in players %}
            <input type="hidden" name="players" value="{{ player }}">
        {% endfor %}
        Code: <input type="text" name="code" value= "{{ code }}" />
        Name: <input type="text" name="name" value="{{ name }}" readonly/>
        Number of Teams: <input type="text" name="num_teams" value="{{ num_teams }}" readonly/>
        Owner: <input type="text" name="owner" value="{{ netid }}" readonly/>
        <input type="submit" value="Create Bracket"/>
    </form>
    <br>
    {% if error_message != 'None' %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <h1> Here are your teams</h1>
    <table>
        {% for team, player in zip(team_names, player_names) %}
          <tr>
            <td><h3>{{ team }}</h3></td>
            <td><h3>{{ player }}</h3></td>
          </tr>
        {% endfor %}
    </table>
    {% include 'footer.html' %}
  </body>
</html>


<!-- <!DOCTYPE html>
<html>
  <head>
    <title>{{name}} Bracket</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h1 align='center'> Welcome to {{name}} Bracket</h1>
    <h1 align='center'> There are {{num_teams}} teams</h1>

    <hr> -->