<!DOCTYPE html>
<html>
  <head>
    <title>Edit a Bracket</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h1 align="center">View a Bracket</h1>
    <hr>

    <form action="/editbracket/?" method="get">
        <table>
          <tr>
            <td align="right">Code:</td>
            <th><input type="text" name="code" value="{{code}}" /></th>
          </tr>
          <tr>
          <td></td>
          <td><input type="submit" /></td>
        </tr>
        </table>



    <br>
    {% include 'footer.html' %}
    </body>
</html>
