<head>
  <title>Bracket</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bracketstyle.css') }}">
</head>
<body>


<main id="tournament">


  {% for round in range(rounds - 1)%}
  <ul class="round round-{{ round + 1}}">
    <li class="spacer">&nbsp;</li>
    {% for index in range(round_indicies[round][0], round_indicies[round][1])%}
    {% if (index % 2) != 0%}
    <li class="game game-top ">{{bracket_list[index][0]}} <span>0</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">{{bracket_list[index + 1][0]}}<span>2</span></li>


    <li class="spacer">&nbsp;</li>
    {% endif%}
    {% endfor %}
  </ul>
  {% endfor %}
 
</main>
</body>