<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="/static/displayBracket.css"> -->
    <style>
      input[type="text"] {
            width: 170px;
            margin-bottom: 4px;
        }

        label {
            display: inline-block;
            width: 60px;
            text-align: right;
        }
    </style>
  </head>
  <body>
    <h1 align='center'> Welcome to {{title}} Bracket</h1>
    







    <h2 align='center'>Here are the players:</h2>
    <form action = "/viewbracket/?code={{ code }}" method = "post">
      {% for i in range(1, bracket|length) %}
        {% if bracket[i] is not none %}
            <label for="{{bracket[i][0]}}">{{'%s' %bracket[i][0]}}:</label>
            <input type = "number" name="{{bracket[i][0]}}" step="1" value = "{{'%s' %bracket[i][1]}}">    
            <br>        
        {% endif %}
      
      {% endfor %}
      <input type="submit" value="Submit Scores" , class="submit-btn">
    </form>
    <hr>
    <br>
    {% include 'footer.html' %}
  </body>
</html>
